/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-text: ui-sans-serif, system-ui, sans-serif;
  --font-title: 'Outfit', sans-serif;
}

@layer base {
  html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: var(--font-text);
  }
}